.menu{
    width: 20vw;
    color: #3ee;
    height: 80vh;
}

.menu-nav{
    padding: 0px;
}

.menu-nav img{
    width: 30px;
    height: 30px;
}

.menu-nav li {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    font-family: 'Lato';
}

.form-container{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: aqua;
    width: 40vw;
    height: 50vh;
    position: absolute;
    top: 10%;
    left: 10%;
}