body{
    background: url(/src/bg-login.png) no-repeat;
    height: 750px;
    width: 100%;
    background-size: cover;
    left: 0%l
}
body::-webkit-scrollbar{
    display: none;
}

.main{
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    flex: 1;
}

.main img{
    width: 200px;
    height: 80px;
}