body{
    background: url(/src/bg-login.png) no-repeat;
    height: 700px;
    width: 100%;
    background-size: cover;
}
body::-webkit-scrollbar{
    display: none;
}

.main{
    justify-content: center;
    align-content: center;
    float: right;
    top: 40px;
    flex: 1;
    background-color: aqua;
    width: 250px;
    height: 200px;
    margin: 20rem 10rem auto;


}

.main img{
    width: 200px;
    height: 80px;
}