/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@200;300;400&display=swap');

body{
    background: url(/src/bg-login.png);
    height: 700px;
    width: 100%;
    background-size: cover;
}
body::-webkit-scrollbar{
    display: none;
}

.main{
    justify-content: center;
    align-content: center;
    float: right;
    top: 40px;
    flex: 1;
    /* background-color: aqua; */
    width: 300px;
    height: 250px;
    margin: 15rem 15rem auto;
    padding: 10px;
    border-radius: 8px;

}

.main img{
    width: 200px;
    height: 80px;
    margin: auto;
}

.user-status-selector{
    display: flex;
    font-family: 'Lato' !important;
    float: right;
    margin-right: 5rem;
    }

.user-status-selector .student-status, .admin-status{
    display: flex;
    padding: 5px 2px;
    margin: 7px;
    align-items: center;
    justify-content: center;
}

.user-status-selector input[radio]{
    margin: 5px;
}

.block input{
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
    height: 30px;
}

button{
    color: white;
    border-radius: 15px;
    width: 180px;
    height: 30px;
    margin: auto;
    float: right;
    font-family: 'Lato';
    font-size: small;
    font-weight: bold;
    background-color: #BF9F62;
    margin-right: 3rem;
    margin-top: 5px;
}

button:hover{
    background-color: #c0974c;
    
}


/* Tablet */
@media screen and (min-width: 768px) and (max-width: 998px) {
    body{
        height: 750px;
        background-size: cover;
        background-position: center;
    }

    .main{
        margin: 13rem auto;
        margin-right: 20px;
    }
    
}

/* Mobile */
@media screen and (max-width: 768px) {
    body{
        height: 685px;
        background-size: cover;
        background-position-x: calc(-200px);
        background-position-y: center;
    }

    .main{
        margin: 10rem auto;
        /* margin-right: 10px; */
    }
    
}