.hero-section{
    background-color: white;
    width: 100vw;
    height: 100vh;
}

.aside-menu{
    width: 6vw;
    height: 80vh;
    background-color: #BF9F62;
    border-radius: 0 0 5px 0;
    position: absolute;
    top: 5%;
    padding: 5px;
    margin-top: 0.5rem;
}